* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to right, #f0f8ff, #e0f7fa);
    color: #333;
    line-height: 1.6;
}

header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: #20b2aa;
    color: white;
}

#header_text {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#photo {
    height: 50px;
}

#search {
    display: flex;
    align-items: center;
}

#city_input {
    width: 150x;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #20b2aa;
    border-radius: 5px;
    margin-right: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#city_input:focus {
    border-color: #2e8b57;
    outline: none;
}

#search_button {
    background: #20b2aa;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#search_button:hover {
    background: #2e8b57;
}

.container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
}

.weather-info {
    text-align: center;
}

#city-name {
    font-size: 2.5rem;
    color: #0083b0;
    margin-bottom: 1rem;
}

.weather-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

#temperature {
    font-size: 2.5rem;
    font-weight: bold;
}

#description {
    font-size: 1.2rem;
    color: #666;
}

.additional-info {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.additional-info p {
    font-size: 1rem;
    color: #333;
}