.popular-city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    background-color: #deb887   ;
}

#Moscow {
    background-color: lightgray;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    max-width: 25%;
    width: 20%;

}

#Tokyo {
    align-content: center;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    max-width: 25%;
    width: 20%;
}

#London {
    align-content: center;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    max-width: 25%;
    width: 20%;
}

#Astana {
    align-content: center;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    max-width: 25%;
    width: 20%;
}
