@import "popular-city.css";
html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    font-size: 1.5rem;
    display: flex;
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 15vh;
    height: 10vh;
}

#current-time {
    color: black;
}

#search-bar {
    display: flex;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #484848;
}
body {
    display: flex;
    flex-direction: column;
}
#search {
    border-radius: 5px;
}

.city_input, .Search-button {
    border: 0;
    border-radius: 10px;
    padding: 1vh;
    margin: 0;
}

section {
    height: 900px;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding-top: 24pt;
    padding-bottom: 24pt;
}
.Weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    max-height: 80vh;
}
#container {
    display: flex;
    width: 30%;
    height: auto;
    max-height: 80vh;
    flex-direction: column;
}

#map {
    display: flex;
    width: 60%;
    height: auto;
    max-height: 80vh;
}

#location-info {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
}

#weather {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 2rem;
}

#info {
    display: flex;
    height: auto;
    width: 100%;
    font-size: 1rem;
}

#description-weather {
    padding-left: 15px;
    height: auto;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}

#wind-speed {
    display: flex;
    flex-wrap: nowrap;
}

#hourly-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 20vh;

}
.hour {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hour img {
    width: 50px;
    height: 50px;
}

#astana-temp, #london-temp, #moscow-temp, #tokyo-temp {
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    background-color: #484848;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

@media (max-width: 768px) {
    #current-time{
        display: none;
    }
    header {
        display: flex;
        font-size: 1rem;
    justify-content: flex-start;
    }

    #logo {
        width: 30%;
        height: auto;
    }

    #search-bar {
        flex-direction: column;
        padding: 20px;
    }

    #search {
        width: 90%;
        margin-bottom: 10px;
    }

    .city_input, .Search-button {
        width: 90%;
        margin-bottom: 10px;
    }

    section {
        width: 100%;
        padding: 10px;
    }

    .Weather-info {
        flex-direction: column;
        align-items: center;
    }

    #container, #map {
        width: 100%;
        margin-bottom: 10px;
    }

    #hourly-weather {
        display: none;
    }

    .hour {
        width: 90%;
        margin-bottom: 10px;
    }

    #Moscow, #Tokyo, #London, #Astana {
        max-width: 90%;
        width: 90%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    * {
        font-size: 1.1rem;
    }

    .current-time {
        display: none;
    }

    header {
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;

    }

    #logo {
        width: 30%;
        height: auto;
    }

    #search-bar {
        flex-direction: column;
        padding: 20px;
    }

    #search {
        width: 90%;
        margin-bottom: 10px;
    }

    .city_input, .Search-button {
        width: 90%;
        margin-bottom: 10px;
    }

    section {
        width: 100%;
        padding: 10px;
    }

    .Weather-info {
        flex-direction: column;
        align-items: center;
    }

    #container, #map {
        width: 100%;
        margin-bottom: 10px;
    }

    #hourly-weather {
        border: 1px black solid;
        flex-direction: column;
        display: none;
    }

    .hour {
        width: 90%;
        margin-bottom: 10px;
    }

    #Moscow, #Tokyo, #London, #Astana {
        max-width: 90%;
        width: 90%;
        margin-bottom: 10px;
    }
}